.weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  color: #878787;
  padding: 16px;
  border-radius: 4px;
}

.weather form {
  margin-bottom: 20px;
}

.weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather canvas {
  margin-top: 7px;
}

.weather .temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
}

.float-left {
  float: left;
}

.weather .unit {
  font-size: 16px;
  color: rgb(33, 33, 33);
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 5px;
}

.margin-left {
  margin-left: 5px;
}
